<div class="layui-card">
	<div class="layui-card-header">
		<h2 class="header-title">预约订单管理</h2>
		<span class="layui-breadcrumb pull-right">
          <a href="#!console">首页</a>
          <a><cite>预约订单管理</cite></a>
        </span>
	</div>
	<!-- 表单弹窗 -->
	<div class="layui-row">
		<form class="layui-form" lay-filter="manger" action="" id="form-add">
			<table class="layui-table" id="info">
				<tr>
					<div class="layui-form-item">
						<td>
							<label class="layui-form-label">预约人姓名：</label>
						</td>
						<td>
							<div class="layui-input-inline" style="width: 80px;">
								<input type="text" class="layui-input" style="width: 200px;height: 38px;" name="fromname" id= "appointmentName">
							</div>
						</td>
						<td>
							<label class="layui-form-label">预约人电话:</label>
						</td>
						<td>
							<div class="layui-input-inline" style="width: 80px;">
								<input type="text"  class="layui-input" style="width: 200px;height: 38px;" name="fromtel" id = "appointTel">
							</div>
						</td>
					</div>
				</tr>
				<tr>
					<td>
						<label class="layui-form-label">订单号:</label>
					</td>
					<td>
						<div class="layui-input-inline" style="width: 80px;">
							<input type="text"  class="layui-input" style="width: 200px;height: 38px;" name="number" id="number">
						</div>
					</td>
					
					<td colspan="2">
						<div class="layui-input-block">
							<center>
								<button class="layui-btn" lay-submit="" lay-filter="seach"  >查询</button>
							</center>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div class="layui-card-body">
		<div class="layui-form toolbar">
			<button id="role-btn-add" class="layui-btn data-add-btn"><i class="layui-icon">&#xe654;</i>添加</button>
			<button id="role-btn-del" class="layui-btn layui-btn-danger data-delete-btn"><i class="layui-icon">&#xe640;</i>删除</button>
		</div>
		<!-- 数据表格 -->
		<table class="layui-table" id="table_view" lay-filter="role-table"></table>
	</div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="role-table-bar">
	<a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
	layui.use(['form', 'table', 'util', 'config', 'admin'], function() {
		var form = layui.form;
		var table = layui.table;
		var config = layui.config;
		var layer = layui.layer;
		var util = layui.util;
		var admin = layui.admin;
		var id = 0;
		var method = 'get';
		var uri = 'web/reservation/getAppointment';
		//渲染表格
		table.render({
			elem: '#table_view',
			url: config.server + uri,
			response: {
				statusName: 'code',
				statusCode: 1,
				msgName: 'msg',
				//countName: 'totalpage',
				dataName: 'data'
			},
			headers: {
				Authorization: config.getToken().access_token
			},
			limits: [10, 15, 20, 25, 50, 100],
			limit: 15,
			page: true,
			cols: [
				[{
						type: "checkbox",
						width: 50,
						fixed: "left"
					},
					{
						field: 'fromname',
						sort: 'true',
						title: '预约人姓名',
						//event: 'clickNumber'
					},
					{
						field: 'fromtel',
						sort: 'true',
						title: '预约人电话'
					},
					{
						field: 'fromaddress',
						sort: 'false',
						title: '预约人详细地址'
					},
					{
						field: 'appointmenttime',
						sort: 'false',
						title: '预约时间'
					},{
						field: 'number',
						sort: 'false',
						title: '订单号'
					}, {
						field: 'accepttime',
						sort: 'true',
						title: '取件时间'
					},
					{
						field: 'acceptname',
						sort: 'true',
						title: '取件人'
					},
					{
						field: 'status',
						sort: 'true',
						title: '状态'
					},
					{
						align: 'center',
						toolbar: '#role-table-bar',
						title: '操作'
					}
				]
			]
		});
		// 添加按钮点击事件
		$('#role-btn-add').click(function() {
			showEditModel();
		});

		//删除按钮点击事件
		$('#role-btn-del').click(function() {
			var checkStatus = table.checkStatus('table_view'),
				data = checkStatus.data;
			var arr = new Array();
			for(var i = 0; i < data.length; i++) {
				arr.push(data[i].id)
			}
			doDelete(arr);
		});

		form.on('submit(mang)', function(data) {
			var arr = new Array();         
			if(method == 'put') {
				data.field.id = id;
			}
			console.log('提交前的数据是:' + JSON.stringify(data.field))
			doajax(data.field, null);
			return false;
		});

		//请求公用方法
		function doajax(data, cont) {
			admin.aj(uri, data, function(data) {
				console.log(data)
				if(data.code == 1) {
					layer.msg(data.msg, {
						icon: 1
					});
					table.reload('table_view');
					layer.closeAll('page');
				} else {
					//layer.closeAll('page');
					layer.msg(data.msg, {
						icon: 2
					});
				}
			}, method, cont);
		}

		// 工具条点击事件
		table.on('tool(role-table)', function(obj) {
			var data = obj.data;
			id = data.id;
			if(obj.event === 'edit') { //修改
				showEditModel(data);
			} else if(obj.event === 'del') { //删除
				var arr = new Array();
				arr.push(id);
				doDelete(arr);
			} else if(obj.event === 'clickNumber') { //单机运单编号显示详情信息
				layer.open({
					type: 2,
					shadeClose: true,
					shade: false,
					maxmin: true, //开启最大化最小化按钮
					area: ['90%', '900px'],
					content: 'components/filemaintain/sendOrderShow.html',
					success: function(layero, index) {
                    admin.putTempData('id',id) 
					}
				});
			}

		});
		
		form.on('submit(seach)', function(data) {
			console.log('提交前的数据是:' + JSON.stringify(data.field))
				table.reload('table_view',			
				{where:
					{'fromname':data.field.fromname,
					'fromtel':data.field.fromtel,
					'number':data.field.number}
				
				}
				);
			document.getElementById("form-add").reset();
			return false;

		});
		
		
		// 显示编辑弹窗
		var showEditModel = function(data) {
			method = data ? 'put' : 'post';
			console.log('当前的方法是' + method)
			layer.open({
				type: 2,
				shadeClose: true,
				shade: false,
				maxmin: true, //开启最大化最小化按钮
				area: ['90%', '900px'],
				content: 'components/filemaintain/sendOrderShow.html',
				success: function(layero, index) {
					if(data) {
						layui.sessionData('tempData', {
							key: 't_user',
							value: data
						});
					} else {
						layui.sessionData('tempData', {
							key: 't_user',
							remove: true
						});
					}
				}
			});
		};
		// 删除
		var doDelete = function(obj) {
			method = 'delete';
			layer.confirm('确定要删除吗？', function(i) {
				layer.close(i);
				//layer.load(2);
				doajax(JSON.stringify(obj), 1)
			});
		};
		
		$('#user-btn-search').click(function () {
            
            var parentId = '';
            var provinceInc = $('#provinceInc').val();
            var cityInc = $('#cityInc').val();
            var areaInc = $('#areaInc').val();
            if(provinceInc != null && provinceInc != ''){
            	parentId = provinceInc;
            }
            
            if(cityInc != null && cityInc != ''){
            	parentId = cityInc;
            }
            
            if(areaInc != null && areaInc != ''){
            	parentId = areaInc;
            }
            var value = $('#user-search-value').val();  
            
            
            table.reload('role-table', {where: {'info1':value,'info2':parentId}});
        });

	});
</script>