<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="utf-8" />
		<title>EasyWeb</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../../assets/libs/layui/css/layui.css" />
		<link rel="stylesheet" href="../../assets/css/admin.css" />
		<link rel="stylesheet" href="../../module/formSelects/formSelects-v4.css" />
		<!--<link rel="stylesheet" href="assets/css/theme-blue.css"/>-->
		<!-- 自定义主题，使用EasyWeb主题生成器生成 -->
		<style>
			td{height: 25px;}
		</style>
	</head>
	<body class="layui-layout-body">		
		<div class="layui-card">
			<div class="layui-card-header">
				<h2 class="header-title">扫描查询</h2>
				<span class="layui-breadcrumb pull-right">
		          <a href="#!console">首页</a>
		          <a><cite>扫描查询</cite></a>
		        </span>
			</div>
			<!-- 表单弹窗 -->
			<div class="layui-row">
				<form class="layui-form" lay-filter="manger" action="" id="form-update">
					<table class="layui-table" id="info"  border="0">
						<tr>
							<div class="layui-form-item">
								<td rowspan="5" width="20px">
									<label for="username"  width="20px">运单编号：</label>
								</td>
								<td rowspan="5" width="180px">
									<div class="layui-input-inline" style="width: 30px;">
										<textarea rows="15"  cols="20" name = "billsNum" id= "billsNum"></textarea>
									</div>
								</td>
								<td  width="25px">
									<label for="username" class="layui-form-label">派件员：</label>
								</td>
								<td style="width: 220px;">
									<div class="layui-input-inline" style="width: 220px;">
										<input type="text" name="distributeUser" id = 'distributeUser'  autocomplete="off" class="layui-input" style="width: 160px;height: 25px;">
										<label class="layui-form-label">
											<a href="javascript:void(0)" onclick="openUserSelect(1)">选择&nbsp;&nbsp;</a>
											<a href="javascript:void(0)" onclick="clearIncInfo(1)">[清空]</a>
										</label>
										<input type="hidden" name="distributeNum" id="distributeNum"/>
									</div>
								</td>
								<td  width="45px">
									<label class="layui-form-label">收件人:</label>
								</td>
								<td>
									<div class="layui-input-inline" style="width: 80px;">
										<input type="text" name = "toName" id="toName"  autocomplete="off" class="layui-input" style="width: 160px;height: 25px;" />
									</div>
								</td>
								<td  width="25px">
									<label for="username" class="layui-form-label">扫描类型：</label>
								</td>
								<td>
									<div class="layui-input-inline" style="width: 140px;">
										<select name="scanType" lay-filter="scanType" id="scanType">
											<option value="发件">发件</option>
											<option value="到件">到件</option>
											<option value="派件">派件</option>
											<option value="签收">签收</option>
											<option value="称重">称重</option>
										</select>
									</div>
								</td>
							</div>
							</tr>
							<tr>
							<div class="layui-form-item">	
								<td  width="25px">
									<label for="username" class="layui-form-label">收件员：</label>
								</td>
								<td style="width: 220px;">
									<div class="layui-input-inline" style="width: 220px;">
										<input type="text" name="receiveUser" id = 'receiveUser'  autocomplete="off" class="layui-input" style="width: 160px;height: 25px;">
										<label class="layui-form-label">
											<a href="javascript:void(0)" onclick="openUserSelect(2)">选择&nbsp;&nbsp;</a>
											<a href="javascript:void(0)" onclick="clearIncInfo(2)">[清空]</a>
										</label>
										<input type="hidden" name="receiveNumber" id="receiveNumber"/>	
									</div>
								</td>
								<td  width="25px">
									<label for="username" class="layui-form-label">物品类型：</label>
								</td>
								<td>
									<div class="layui-input-inline" style="width: 140px;">
										<select name="goodsType" lay-filter="goodsType" id="goodsType">
											<option value="">请选择</option>
											<option value="物品">物品</option>
											<option value="文件">文件</option>
										</select>
									</div>
								</td>
								<td  width="25px">
									<label for="username" class="layui-form-label">快件类型：</label>
								</td>
								<td>
									<div class="layui-input-inline" style="width: 140px;">
										<select name="expresstype" lay-filter="expresstype" id="expresstype">
											<option value="">请选择快件类型</option>
											<option value="快递">快递</option>
											<option value="快运">快运</option>
										</select>
									</div>
								</td>
							</div>
						</tr>
						<tr>
							<div class="layui-form-item">
								<td width="45px">
									<label class="layui-form-label">扫描网点：</label>
								</td>
								<td width="180px>
									<div class="layui-input-inline" style="width: 80px;">
										<input type="text" name = "scanIncName" id="scanIncName" autocomplete="off" class="layui-input" style="width: 160px;height: 25px;" />
										<label class="layui-form-label">
											<a href="javascript:void(0)" onclick="openSelect()">选择&nbsp;&nbsp;</a>
											<a href="javascript:void(0)" onclick="clearIncInfo(4)">[清除]</a>
										</label>
										<input type="hidden" name="scanIncNumber" id="scanIncNumber"/>	
									</div>
								</td>
								<td  width="45px">
									<label class="layui-form-label">扫描员:</label>
								</td>
								<td>
									<div class="layui-input-inline" style="width: 80px;">
										<input type="text" name = "scannerName" id="scannerName" autocomplete="off" class="layui-input" style="width: 160px;height: 25px;" />
										<label class="layui-form-label">
											<a href="javascript:void(0)" onclick="openUserSelect(3)">选择&nbsp;&nbsp;</a>
											<a href="javascript:void(0)" onclick="clearIncInfo(3)">[清空]</a>
										</label>
										<input type="hidden" name="scannerNumber" id="scannerNumber"/>	
									</div>
								</td>
								<td  width="25px">
									<label for="username" class="layui-form-label">班次：</label>
								</td>
								<td>
									<div class="layui-input-inline" style="width: 140px;">
										<select name="flightsnumber" lay-filter="flightsnumber" id="flightsnumber">
											<option value="">请选择快件类型</option>
											<option value="第一班">第一班</option>
											<option value="第二班">第二班</option>
											<option value="第三班">第三班</option>
											<option value="第四班">第四班</option>
											<option value="第五班1">第五班1</option>
											<option value="第六班">第六班</option>
										</select>
									</div>
								</td>
							</div>
						</tr>
						<tr>
							<div class="layui-form-item">
								<td  width="45px">
									<label for="username" class="layui-form-label">扫描日期：</label>
								</td>
								<td colspan="2">
									<div class="layui-input-inline" style="width: 160px;">
										<input type="text" class="layui-input"  placeholder=" - " id= "scanTime" name='scanTime' style="width: 240px;height: 25px;" />
									</div>
								</td>
							</div>
							<td colspan="3">
								<div class="layui-input-block">
									<center>
										<button id = "user-btn-search" class="layui-btn" type="button">查询</button>
									</center>
								</div>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div class="layui-card-body" style="width:100%; height:375px; overflow:scroll;">
				<div class="layui-form toolbar">
				</div>
				<!-- 数据表格 -->
				<table class="layui-table" id="role-table" lay-filter="role-table"></table>
			</div>
		</div>
		
		<script type="text/html" id="role-select">
			<div class="layui-input-inline">
				<div id="test12" class="demo-tree-more"></div>
			</div>
			<div class="layui-input-inline">
				<div id="test1" class="demo-transfer"></div>
			</div>
			<div class="layui-input-inline">
				<button type="button" class="layui-btn" lay-demotransferactive="getData">保存</button>
			</div>
		</script>
		
		<script type="text/html" id="role-model-branchSelect">
			<div class="layui-input-inline">
				<input id="add" type="text" placeholder="请输入网点编号或网点名称" class="layui-input" style="width: 400px;height: 38px;" />
			</div>
			<div class="layui-input-inline">
				<button class="layui-btn" onclick="select($('#add').val())">查找</button>
			</div>
			<table class="layui-hide" id="test" lay-filter="test"></table>
		</script>
		<script type="text/html" id="role-table-select">
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">点我选择</a>
		</script>
		<script type="text/javascript" src="../../assets/libs/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../../assets/libs/q.js"></script>
		<script type="text/javascript" src="../../assets/libs/pandyle.min.js"></script>
		<script type="text/javascript" src="../../assets/libs/layui/layui.js"></script>
		<script type="text/javascript" src="../../assets/libs/xcity.js"></script>
		<script type="text/javascript" src="../../module/dictManager.js"></script>
		<script>
			layui.config({
						base: '../../module/'
					}).use(['form', 'table', 'util', 'config', 'admin','laydate'], function() {
				var form = layui.form;
				var table = layui.table;
				var config = layui.config;
				var layer = layui.layer;
				var util = layui.util;
				var admin = layui.admin;
				var laydate = layui.laydate;
				var id = 0;
				var method = 'get';
				var uri = 'web/searchscan/search';
				//渲染表格
				table.render({
					elem: '#role-table',
					url: config.server + uri,
					where : {"scanType":"发件"},
					response: {
						statusName: 'code',
						statusCode: 1,
						msgName: 'msg',
						dataName: 'data'
					},
					headers: {
						Authorization: config.getToken().access_token
					},
					limits: [10, 15, 20, 25, 50, 100],
					limit: 15,
					page: true,
					cols: [
						[{
								field: 'scanTime',
								sort: 'false',
								title: '扫描时间',
								event: 'clickNumber'
							},{
								field: 'Number',
								sort: 'false',
								title: '运单编号',
								event: 'clickNumber'
							},
							{
								field: 'scanIncName',
								sort: 'true',
								title: '扫描网点'
							},
							{
								field: 'scanners',
								sort: 'true',
								title: '扫描人'
							},
							{
								field: 'Createincname',
								sort: 'true',
								title: '寄件网点'
							}, {
								field: 'scantype',
								sort: 'true',
								title: '扫描类型'
							},
							{
								field: 'stopname',
								sort: 'true',
								title: '上/下一站网点'
							},
							{
								field: 'flightsnumber',
								sort: 'true',
								title: '班次'
							},
							{
								field: 'Weight',
								sort: 'true',
								title: '重量'
							}
						]
					]
				});		
				//请求公用方法
				function doajax(data, cont) {
					admin.aj(uri, data, function(data) {
						console.log(data)
						if(data.code == 1) {
							layer.msg(data.msg, {
								icon: 1
							});
							table.reload('usermanger');
							layer.closeAll('page');
						} else {
							layer.msg(data.msg, {
								icon: 2
							});
						}
					}, method, cont);
				}	
				
				window.openSelect = function openSelect(){
			 		index=layer.open({
						type: 1,
						title: "选择",
						shadeClose: true,
						shade: false,
						offset: 'auto',
						maxmin: true, //开启最大化最小化按钮
						area: [700, '650px'],
						content: $('#role-model-branchSelect').html()				
					});
					select(null);	
				}
				
				window.openUserSelect = function openUserSelect(number) {
					index = layer.open({
						type: 1,
						shadeClose: true,
						shade: false,
						offset: 'auto',
						maxmin: true, //开启最大化最小化按钮
						area: [65, '600px'],
						content: $('#role-select').html()
					});
					managerselect(number);
				}
		
				// 工具条点击事件
				table.on('tool(role-table)', function(obj) {
					var data = obj.data;
					id = data.id;
					if(obj.event === 'edit') { //修改
						showEditModel(data);
					} else if(obj.event === 'del') { //删除
						var arr = new Array();
						arr.push(id);
						doDelete(arr);
					} else if(obj.event === 'clickNumber') { //单机运单编号显示详情信息
						layer.open({
							type: 2,
							shadeClose: true,
							shade: false,
							maxmin: true, //开启最大化最小化按钮
							area: ['90%', '900px'],
							content: 'components/filemaintain/sendOrderShow.html',
							success: function(layero, index) {
		                    admin.putTempData('id',id) 
							}
						});
					}
		
				});
				// 显示编辑弹窗
				var showEditModel = function(data) {
					method = data ? 'put' : 'post';
					console.log('当前的方法是' + method)
					layer.open({
						type: 2,
						shadeClose: true,
						shade: false,
						maxmin: true, //开启最大化最小化按钮
						area: ['90%', '900px'],
						content: 'components/filemaintain/sendOrderShow.html',
						success: function(layero, index) {
							if(data) {
								layui.sessionData('tempData', {
									key: 't_user',
									value: data
								});
							} else {
								layui.sessionData('tempData', {
									key: 't_user',
									remove: true
								});
							}
						}
					});
				};
				// 删除
				var doDelete = function(obj) {
					method = 'delete';
					layer.confirm('确定要删除吗？', function(i) {
						layer.close(i);
						//layer.load(2);
						doajax(JSON.stringify(obj), 1)
					});
				};
				
				laydate.render({
					elem : '#scanTime',
					type : 'date',
					range : true,
					done: function(value, date, endDate){
						var start = turnDate(JSON.parse(JSON.stringify(date)));
						var end = turnDate(JSON.parse(JSON.stringify(endDate)));
					}
				});
				
				function turnDate(obj){
					var FullYear = obj.year;
					var Month = obj.month;
					var day = obj.date;
					return FullYear + '-' + Month + '-' + day ;
				}
				
				form.on('submit(user-btn-search)', function(data) {
					console.log('提交前的数据是:' + JSON.stringify(data.field))
						table.reload('usermanger',			
						{where:
							{'name':data.field.name,
							'incname':data.field.incname,
							'departname':data.field.departname}
						
						}
						);
					document.getElementById("form-add").reset();
					return false;
		
				});
				
				$('#user-btn-search').click(function() {
		            //获得参数列表            
					var billsNum = $('#billsNum').val();
					var distributeNum = $('#distributeNum').val();
		            var toName = $('#toName').val();
		            var scanType = $('#scanType').val();
		            alert("scanType" + scanType);
		            var receiveNumber = $('#receiveNumber').val();
		            var goodsType = $('#goodsType').val();
					alert("goodsType"+ goodsType);
		            var expresstype = $('#expresstype').val();
					alert("expresstype"+ expresstype);
					var scanIncNumber = $('#scanIncNumber').val();
					var scannerNumber = $('#scannerNumber').val();
		            var  flightsnumber = $('#flightsnumber').val();
		            alert("flightsnumber" + flightsnumber);
		            var scanTime = $('#scanTime').val();;
		            table.reload('role-table', {where: {'billsNum':billsNum, 'distributeNum':distributeNum,'toName':toName,
		            		'scanType':scanType,'receiveNumber':receiveNumber,
		            	'goodsType': goodsType, 'expresstype':expresstype,
		            	'scanIncNumber': scanIncNumber, 'scannerNumber':scannerNumber,
		            	'flightsnumber': flightsnumber, 'scanTime':scanTime
		            	}});
		        });  
		        
		        window.clearIncInfo =  function clearIncInfo(itemNum){
		        	if(itemNum == 1 ){
		        		$("#distributeUser").val('');
		        		$("#distributeNum").val('');
		        	}else if(itemNum == 2){
		        		$("#receiveUser").val('');
		        		$("#receiveNumber").val('');
		        	}else if(itemNum == 3){
		        		$("#scannerName").val('');
		        		$("#scannerNumber").val('');
		        	}else if(itemNum == 4){  //清空扫描网点的信息
		        		$("#scanIncName").val("");
		        		$("#scanIncNumber").val("");
		        	}
		        } 
		        var url;
				var nameSelect;
				var nameIdSelect;
				function managerselect(number) {
					if(number == 1) {
						nameSelect = 'distributeUser';
						idNameSelect = 'distributeNum';
					} else if(number == 2 ){
						nameSelect = 'receiveUser';
						idNameSelect = 'receiveNumber';
					}else if(number == 3){
						nameSelect = 'scannerName';
						idNameSelect = 'scannerNumber';
					}
					layui.use(['tree', 'util', 'transfer', 'layer', 'admin'], function() {
						var admin = layui.admin;
						var $ = layui.$,
							transfer = layui.transfer,
							layer = layui.layer,
							util = layui.util;
						var tree = layui.tree,
							layer = layui.layer,
							util = layui.util,
							data = [{
								title: '全部部门',
								id: 1,
								spread: true,
								children: [{
										title: '行政部'
			
									},
									{
										title: '仓储部'
			
									},
									{
										title: '研发部'
			
									},
									{
										title: '总经理室'
			
									},
									{
										title: '财务部'
			
									},
									{
										title: '运输部'
			
									}
								]
							}]
							data1 = null;
						//基础效果
						transfer.render({
							elem: '#test1',
							data: data1
			
						})
						//基本演示
						tree.render({
							elem: '#test12',
							data: data,
			
							click: function(obj) {
								var data = obj.data; //获取当前点击的节点数据
								uri = 'web/user/getByDepartName';
								var data=JSON.stringify(data.title);
								admin.aj(uri,data , function(json) {
									console.log(json.data)
									data1 = json.data
									transfer.render({
										elem: '#test1',
										data: data1,
										showSearch: true,
										id: 'key123'
									})
									util.event('lay-demoTransferActive', {
										getData: function(othis) {
											var getData = transfer.getData('key123'); //获取右侧数据
											if(getData.length > 1) {
												layer.msg("抱歉！最多只能选择一名用户")
												return;
											}								
											if(getData.length == 0) {
												layer.close(index);
												return;
											}
											$('#' + nameSelect).val(getData[0].title);
											$('#' + idNameSelect).val(getData[0].number);								
											layer.close(index);								
										}
									})
								}, 'post', 1);
							}
						});
			
					});
				}
				
				function select(parameter, nameSelect) {
					nameSelect = 'scanIncName';
					nameIdSelect = 'scanIncNumber'
					if(parameter == null) {
						url = 'web/incment/incment'
					} else {
						url = 'web/incment/incment?info1=' + parameter
					}
					layui.use(['table', 'config'], function() {
						var config = layui.config;
						var table = layui.table;
						table.render({
								elem: '#test',
								url: config.server  + url,
								response: {
									statusName: 'code',
									statusCode: 1,
									msgName: 'msg',
									dataName: 'data'
								},
								headers: {
									Authorization: config.getToken().access_token
								},
								limits: [10],
								limit: 15,
								page: true,
								cols: [
									[{
										title: '',
										toolbar: '#role-table-select',
									}, {
										field: 'number',
										title: '网点编号'
									}, {
										field: 'name',
										title: '网点名称'
									}]
								]
							}),
							table.on('tool(test)', function(obj) {
								var data = obj.data;
								if(obj.event === 'edit') {
									$('#' + nameSelect).val(eval(JSON.stringify(data.name)));
									$('#' + nameIdSelect).val(eval(JSON.stringify(data.number)));
									layer.close(index);
								}
							});
					});
				}
			});
		</script>
	</body>
</html>