<div class="layui-card">
	<div class="layui-card-header">
		<h2 class="header-title">系统用户管理</h2>
		<span class="layui-breadcrumb pull-right">
          <a href="#!console">首页</a>
          <a><cite>系统用户管理</cite></a>
        </span>
	</div>
	<div class="layui-card-body">
		<div class="layui-form toolbar">
			<button id="role-btn-add" class="layui-btn data-add-btn"><i class="layui-icon">&#xe654;</i>添加</button>
			<button id="role-btn-del" class="layui-btn layui-btn-danger data-delete-btn"><i class="layui-icon">&#xe640;</i>删除</button>
		</div>
		<!-- 数据表格 -->
		<table class="layui-table" id="usermanger" lay-filter="role-table"></table>
	</div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="role-table-bar">
	<a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="role-model">
	<form class="layui-form" id="role-form" action="" lay-filter="manger">
		<table class="layui-table" id="info">
			<tr>
				<div class="layui-form-item">
					<td>
						<label for="username" class="layui-form-label">员工编号：</label>
					</td>
					<td>
						<div class="layui-input-inline">
							<input id="myView" type="text" name="number" autocomplete="off" class="layui-input" style="width: 400px;height: 38px;">
						</div>
					</td>
					<td>
						<label for="username" class="layui-form-label">编号方式：</label>
					</td>
					<td>
						<div class="layui-input-inline">
							<input type="text" autocomplete="off" class="layui-input" style="width: 400px;height: 38px;">
						</div>
					</td>
				</div>
			</tr>
			<tr>
				<div class="layui-form-item">
					<td>
						<label class="layui-form-label">姓名：</label>
					</td>
					<td>
						<div class="layui-input-inline">
							<input type="text" name="name" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 400px;height: 38px;">
						</div>
					</td>
					<td>
						<label class="layui-form-label">密码：</label>
					</td>
					<td>
						<div class="layui-input-inline">
							<input type="password" name="password" lay-verify="pass" autocomplete="off" class="layui-input" style="width: 400px;height: 38px;">
						</div>
						<div class="layui-inline">
							<p style="color: red;">(密码为空时表示不修改)</p>
						</div>
					</td>
				</div>
			</tr>

			<tr>
				<div class="layui-form-item">
					<td>
						<label class="layui-form-label">所属网点:</label>
					</td>
					<td>
						<div class="layui-input-inline">
							<input type="text" name="incname" autocomplete="off" class="layui-input" style="width: 400px;height: 38px;">
						</div>
					</td>
					<td>
						<label class="layui-form-label">所属部门:</label>
					</td>
					<td>
						<div class="layui-input-inline">
							<select name="departname" lay-filter="depart">
								<option value=""></option>
								<option value="行政部">行政部</option>
								<option value="仓储部">仓储部</option> 
								<option value="研发部">研发部</option>
								<option value="总经理室">总经理室</option>
								<option value="财务部">财务部</option>
								<option value="运输部">运输部</option>
								<option value="运营中心">运营中心</option>
							</select>
						</div>
					</td>
				</div>
			</tr>

			<tr>
				<div class="layui-form-item">
					<td>
						<label class="layui-form-label">所属主管:</label>
					</td>
					<td>
						<div class="layui-input-inline">
							<input type="text" name="departadminname" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 400px;height: 38px;">
						</div>
					</td>
				</div>
			</tr>

			<tr>
				<div class="layui-form-item">
					<td>
						<label class="layui-form-label">手机：</label>
					</td>
					<td>
						<div class="layui-input-inline">
							<input type="text" name="mobile" autocomplete="off" class="layui-input" style="width: 400px;height: 38px;">
						</div>
					</td>
					<td>
						<label class="layui-form-label">电话：</label>
					</td>
					<td>
						<div class="layui-input-inline">
							<input type="text" name="tel" autocomplete="off" class="layui-input" style="width: 400px;height: 38px;">
						</div>
					</td>
				</div>
			</tr>
			<tr>
				<div class="layui-form-item">
					<td>
						<label class="layui-form-label">收件区域:</label>
					</td>
					<td colspan="3">
						<div class="layui-input-block">
							<textarea placeholder="请输入内容" class="layui-textarea" name="recipient"></textarea>
						</div>
					</td>
				</div>
			</tr>
			<tr>
				<div class="layui-form-item">
					<td>
						<label class="layui-form-label">地址:</label>
					</td>
					<td colspan="3">
						<div class="layui-input-block">
							<textarea placeholder="请输入内容" class="layui-textarea" name="address"></textarea>
						</div>
					</td>
				</div>
			</tr>

			<tr>
				<div class="layui-form-item">
					<td>
						<label class="layui-form-label">所属用户组:</label>
					</td>
					<td colspan="3">
						<div class="layui-input-block">
							<input type="checkbox" name="a1" lay-skin="primary" value="1" title="管理员">
							<input type="checkbox" name="a2" lay-skin="primary" value="2" title="扫描人员">
							<input type="checkbox" name="a3" lay-skin="primary" value="3" title="业务人员">
							<input type="checkbox" name="a4" lay-skin="primary" value="4" title="城市经理">
							<input type="checkbox" name="a5" lay-skin="primary" value="5" title="客服人员">
							<input type="checkbox" name="a7" lay-skin="primary" value="7" title="行政人员">
							<input type="checkbox" name="a8" lay-skin="primary" value="8" title="部门经理">
							<input type="checkbox" name="a9" lay-skin="primary" value="9" title="系统查看">
							<input type="checkbox" name="a10" lay-skin="primary" value="10" title="省总经理">
						</div>
					</td>
				</div>
			</tr>

			<tr>
				<td colspan="5">
					<div class="layui-input-block">
						<center>
							<!--<button class="layui-btn">保存信息</button>-->
							<button class="layui-btn" lay-submit="" lay-filter="mang">保存信息</button>
						</center>
					</div>
				</td>
			</tr>
		</table>
	</form>
</script>
<script>
	layui.use(['form', 'table', 'util', 'config', 'admin'], function() {
		var form = layui.form;
		var table = layui.table;
		var config = layui.config;
		var layer = layui.layer;
		var util = layui.util;
		var admin = layui.admin;
		var id = 0;
		var method = 'get';
		var uri = 'web/usermanger/getallgroup';
		//渲染表格
		table.render({
			elem: '#usermanger',
			url: config.server + uri,
			response: {
				statusName: 'code',
				statusCode: 1,
				msgName: 'msg',
				//countName: 'totalpage',
				dataName: 'data'
			},
			headers: {
				Authorization: config.getToken().access_token
			},
			limits: [10, 15, 20, 25, 50, 100],
			limit: 15,
			page: true,
			cols: [
				[{
						type: "checkbox",
						width: 50,
						fixed: "left"
					},
					{
						field: 'groupname',
						sort: true,
						title: '用户组名称'
					},
					{
						field: 'groupinfo',
						sort: true,
						title: '用户组描述'
					},
					{
						align: 'center',
						toolbar: '#role-table-bar',
						title: '操作'
					}
				]
			]
		});
		// 添加按钮点击事件
		$('#role-btn-add').click(function() {
			showEditModel();
		});

		//删除按钮点击事件
		$('#role-btn-del').click(function() {
			method = 'delete';
			var checkStatus = table.checkStatus('usermanger'),
				data = checkStatus.data;
			var arr = new Array();
			for(var i = 0; i < data.length; i++) {
				arr.push(data[i].id)
			}
			doDelete(arr);
		});

		form.on('submit(mang)', function(data) {
			var arr = new Array();         
			$("input:checkbox:checked").each(function(i) {    
				if(!isNaN($(this).val())) {
					arr[i] = $(this).val(); 
				}
			});
			if(method == 'put') {
				data.field.id = id;
			}
			data.field.groupid = arr.join(",");
			console.log('提交前的数据是:' + JSON.stringify(data.field))
			doajax(data.field, null);
			return false;
		});
		form.verify({
			pass: [
				/^$|[\S]{6,15}/, '密码必须6到15位，且不能出现空格'
			]
		});

		//请求公用方法
		function doajax(data, cont) {
			admin.aj(uri, data, function(data) {
				//layer.closeAll('loading');
				console.log(data)
				if(data.code == 1) {
					layer.msg(data.msg, {
						icon: 1,
						time: 1000,
					});
					table.reload('usermanger');
					layer.closeAll('page');
				} else {
					//layer.closeAll('page');
					layer.msg(data.msg, {
						icon: 2,
						time: 1000,
					});
				}
			}, method, cont);
		}

		// 工具条点击事件
		table.on('tool(role-table)', function(obj) {
			var data = obj.data;
			id = data.id;
			if(obj.event === 'edit') { //修改
				showEditModel(data);
			} else if(obj.event === 'del') { //删除
				var arr = new Array();
				arr.push(id)
				doDelete(arr);
			}
		});
		// 显示编辑弹窗
		var showEditModel = function(data) {
			method = data ? 'put' : 'post';
			console.log('当前的方法是' + method)
			form.val('manger', null);
			layer.open({
				type: 2,
				offset: '40px',
				title: data ? '修改' : '添加',
				shade: [0.8, '#393D49'],
				shadeClose: true,
				shade: false,
				maxmin: true, //开启最大化最小化按钮
				area: ['70%', '90%'],
				content: 'components/systemuser/usegroup_edit.html',
				success: function() {
					if(data) {
						admin.putTempData('group', data);
					}
				}
			});
		};
		// 删除
		var doDelete = function(obj) {
			method = 'delete';
			layer.confirm('确定要删除吗？', function(i) {
				layer.close(i);
				doajax(JSON.stringify(obj), 1)
			});
		};

	});
</script>