<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="utf-8" />
		<title>EasyWeb</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../../assets/libs/layui/css/layui.css" />
		<link rel="stylesheet" href="../../assets/css/admin.css" />
		<link rel="stylesheet" href="../../module/formSelects/formSelects-v4.css" />
		<link rel="stylesheet" href="../../assets/libs/layui/css/modules/laydate/default/laydate.css" />
		<!--<link rel="stylesheet" href="assets/css/theme-blue.css"/>-->
		<!-- 自定义主题，使用EasyWeb主题生成器生成 -->
	</head>
	<body class="layui-layout-body">
		<div class="layui-card">
			<div class="layui-card-header">
				<h2 class="header-title">面单监控</h2>
				<span class="layui-breadcrumb pull-right">
		          <a href="#!console">首页</a>
		          <a><cite>中转站到/发件监控</cite></a>
		        </span>
			</div>
			<div class="layui-row">
				<form class="layui-form" action="" lay-filter="top" id="top">
					<div class="layui-form-item" style="margin-top: 16px;">
						<div class="layui-inline">
							<label class="layui-form-label">发件起始时间:</label>
							<div class="layui-input-inline">
								<input type="text" class="layui-input"  id= "SstartTime" name='SstartTime' style="width: 200px;height: 38px;" />
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">发件结束时间:</label>
							<div class="layui-input-inline">
								<input type="text" class="layui-input"  id= "SendTime" name='SendTime' style="width: 200px;height: 38px;" />
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">收件起始时间:</label>
							<div class="layui-input-inline">
								<input type="text" class="layui-input"  id= "RstartTime" name='RstartTime' style="width: 200px;height: 38px;" />
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">收件结束时间:</label>
							<div class="layui-input-inline">
								<input type="text" class="layui-input"  id= "RendTime" name='RendTime' style="width: 200px;height: 38px;" />
							</div>
						</div>
					<button id="user-btn-search" class="layui-btn icon-btn" type="button"><i class="layui-icon">&#xe615;</i>搜索</button>
				</div>
				</form>
			</div>
			
			<div class="layui-card-body">
				<div class="layui-form toolbar">
					<button id="role-btn-add" class="layui-btn data-add-btn"><i class="layui-icon">&#xe654;</i>Excel导出</button>
				</div>
				<!-- 数据表格 -->
				<table class="layui-table" id="role-table" lay-filter="role-table"></table>
			</div>
		</div>
		<!-- 表格操作列 -->
		<script type="text/html" id="role-table-bar">
			
		</script>
		<script type="text/javascript" src="../../assets/libs/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../../assets/libs/q.js"></script>
		<script type="text/javascript" src="../../assets/libs/pandyle.min.js"></script>
		<script type="text/javascript" src="../../assets/libs/layui/layui.js"></script>
		<script type="text/javascript" src="../../assets/libs/xcity.js"></script>
		<script type="text/javascript" src="../../module/dictManager.js"></script>
		<script type="text/javascript" src="../../assets/libs/layui/lay/modules/laydate.js"></script>
		<!-- 表单弹窗 -->
		<script type="text/html" id="role-model">
		</script>
		<script>
			layui.config({
					base: '../../module/'
				}).use(['form', 'table', 'util', 'config', 'admin','laydate'], function() {
				var form = layui.form;
				var table = layui.table;
				var config = layui.config;
				var layer = layui.layer;
				var util = layui.util;
				var admin = layui.admin;
				var laydate = layui.laydate;
				var id = 0;
				var method = 'get';
				var uri = 'web/TranToSendController/getOrderShow';
				//渲染表格
				table.render({
					elem: '#role-table',
					id:'role-table',
					url: config.server+uri,
					response: {
						statusName: 'code',
						statusCode: 1,
						msgName: 'msg',
						//countName: 'totalpage',
						dataName: 'data'
					},
					headers: {
						Authorization: config.getToken().access_token
					},
					limits: [10, 15, 20, 25, 50, 100],
					limit: 15,
					page: true,
					cols: [
						[
							{
								field: 'number',
								sort: true,
								align: 'center',
								title: '网点编号',
								rowspan: '2'
							},
							{
								field: 'name',
								sort: true,
								align: 'center',
								title: '网点名字',
								rowspan: '2'
							},
							{
								sort: true,
								title: '中转部',
								align: 'center',
								colspan: '2'
							},
							{
								field: 'djnum',
								sort: true,
								title: '到件票数',
								rowspan: '2'
							},
							{
								field: 'fjnum',
								sort: true,
								title: '发件票数',
								rowspan: '2'
							}
						],
						[
							{
								field: 'yfwd',
								sort: true,
								title: '已到票数'
							},
							{
								field: 'ydwf',
								sort: true,
								title: '未到票数'
							}
						]
					]
				});
				// 添加按钮点击事件
				laydate.render({
					   elem: '#SstartTime',
					   type: 'date'
					});
					
				laydate.render({ 
					   elem: '#SendTime',
					   type: 'date'
					});
				laydate.render({
					   elem: '#RstartTime',
					   type: 'date'
					});
				laydate.render({ 
					   elem: '#RendTime',
					   type: 'date'
					});
				layui.form.render("select");
				//删除按钮点击事件
				 $('#user-btn-search').click(function () {
		            var SstartTime = $("#SstartTime").val();
		            var SendTime = $("#SendTime").val();
		            var RstartTime = $("#RstartTime").val();
		            var RendTime = $("#RendTime").val();
		            table.reload('role-table', {where: {'SstartTime':SstartTime,'SendTime':SendTime,'RstartTime':RstartTime,'RendTime':RendTime}});
		        });
				//请求公用方法
				function doajax(data, cont) {
					admin.aj(uri, data, function(data) {
						console.log(data)
						if(data.code == 1) {
							layer.msg(data.msg, {
								icon: 1
							});
							table.reload('role-table');
							layer.closeAll('page');
						} else {
							//layer.closeAll('page');
							layer.msg(data.msg, {
								icon: 2
							});
						}
					}, method, cont);
				}
				
				$('#role-btn-add').click(function() {
					var incId = config.getToken().incid;
		            var SstartTime = $("#SstartTime").val();
		            var SendTime = $("#SendTime").val();
		            var RstartTime = $("#RstartTime").val();
		            var RendTime = $("#RendTime").val();
					window.location.href =  config.server +  'web/TranToSendController/outExcelOrderShow?incId=' + incId + '&SstartTime=' + SstartTime + '&SendTime=' + SendTime
							+ '&RstartTime=' + RstartTime + '&RendTime=' + RendTime;
				});
			});
		</script>
	</body>
</html>