
	<div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">        
        <script id="sideNav"  type="text/html">
        	{{#  layui.each(d, function(index, item){ }}
        	<li class="layui-nav-item layui-nav-itemed">
        		<a href="javascript:;"><i class="layui-icon {{item.icon}}"></i>&emsp;<cite>{{ item.name }}</cite></a>
        		{{# if(item.subMenus&&item.subMenus.length>0){ }}
        			<dl class="layui-nav-child">
        				{{# layui.each(item.subMenus, function(index, thrItem){ }}
        				<dd>
        					<a data-url="{{ thrItem.path }}" data-id="{{ thrItem.id }}" data-title="{{ thrItem.name }}" href="#" class="site-demo-active"    data-type="ltabAdd">{{ thrItem.name }}</a>
        				</dd>
        				{{# }); }}
        			</dl>
        		{{# } }}
        	</li>	
        	{{#  }); }}
        </script>
         <!--
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">所有商品</a>
          <dl class="layui-nav-child">
            <dd>
                <a data-url="filemaintain/Department" data-id="99" data-title="列表一" href="#" class="site-demo-active"    data-type="ltabAdd">列表一</a>
            </dd>
            <dd>
                <a data-url="a"  data-id="88" data-title="列表二" href="#" class="site-demo-active"    data-type="ltabAdd">列表二</a>
            </dd>
            <dd>    
                <a data-url="a" data-id="77" data-title="列表三" href="#" class="site-demo-active"    data-type="ltabAdd">列表三</a>
            </dd>
            <dd>
                <a data-url="a" data-id="66" data-title="列表四" href="#" class="site-demo-active" data-type="ltabAdd">列表四</a>
            </dd>
          </dl>
        </li>
       
        	作者：liuyihui21919@163.com
        	时间：2019-11-05
        	描述：
        <li class="layui-nav-item ">
          <a href="javascript:;">解决方案</a>
          <dl class="layui-nav-child">
            <dd><a data-url="a" data-id="77" data-title="解决方案1" href="#" class="site-demo-active"  data-type="ltabAdd">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">云市场</a></li>
        <li class="layui-nav-item"><a href="">发布商品</a></li>
        -->
      </ul>
   </div>